<html>
<head th:replace="fragments/index::head">
	<script th:src="${'/viajesgala/js/mootools-more.js'}" src="../static/js/mootools-more.js" type="text/javascript"></script>
</head>

<body class="body-contact fondo_home">	

<script>
	//
	jQuery(document).ready(function($){
		setTimeout(function(){
			if($('#html_element').children().length === 0) {
				grecaptcha.render('html_element', {
					'sitekey' : '6Le_6IMUAAAAAPBLp0yKTIp0psvQ7DHX4985u7Gg'
				});
			}
		}, 100);
		//
	  	var body = $( 'body' );	 
	  	//
	  	$("#idFormularioMail").submit(function(e) {
			var form = $(this);
    		var url = form.attr('action');
    		$.ajax({
				type: "POST",
           		url: url,
           		data: form.serialize(), // serializes the form's elements.
           		success: function(data){
           			//
           			if(data=='OK'){
	           			//
	           			$('#divAlerta').html('<div class="alert" style="top: 50%;"><a class="close" data-dismiss="alert"></a><span>'+'El formulario se ha enviado correctamente'+'</span></div>')
	           			//            			
				  	    setTimeout(function() {
				  	        $(".alert").alert('close');
				  	    }, 3000);
	           			//
	           			$('#idFormularioMail')[0].reset();
	           			//
           			}
           			else if(data=='KO'){
           				//           				
	           			$('#divAlerta').html('<div class="alert alert-error" style="top: 50%;"><a class="close" data-dismiss="alert"></a><span>'+'Por favor indique que no es un robot.'+'</span></div>')
	           			//            			
				  	    setTimeout(function() {
				  	        $(".alert").alert('close');
				  	    }, 3000);
	           			//	           			
           			}
           			else{
           				//
	           			$('#divAlerta').html('<div class="alert alert-error" style="top: 50%;"><a class="close" data-dismiss="alert"></a><span>'+'Error generico. Contacte con el administrador.'+'</span></div>')
	           			//            			
				  	    setTimeout(function() {
				  	        $(".alert").alert('close');
				  	    }, 3000);
	           			//	           			
           			}           			
           		}
         	});
    		e.preventDefault(); // avoid to execute the actual submit of the form.
		}); 	  	
	});
	//	
</script>

<div th:replace="fragments/index::menu"></div>

	<!-------------------------------------------------------------->
	<!---------------------------- ALERTA -------------------------->
	<!-------------------------------------------------------------->	
	<div id="divAlerta"></div>
	
	<!------------------------------------------------------------------>
	<!---------------------------- FORMULARIO -------------------------->
	<!------------------------------------------------------------------>
	<div class="container-fluid">
	<div class="contact-form">
		<form id="idFormularioMail" class="contact-form-in" action="mail" method="post">
	        <h1>Contáctanos</h1>
			<p class="hint-text">Nos encantaría saber de tí, por favor escríbenos si tienes alguna consulta relacionada con nuestros productos o servicios.</p>
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label for="inputName">Nombre</label>
						<input type="text" class="form-control" id="inputName" name="inputName" required>
					</div>
					<div class="form-group">
						<label for="inputEmail">Dirección de Email</label>
						<input type="email" class="form-control" id="inputEmail" name="inputEmail" required>
					</div>
					<div class="form-group">
						<label for="inputMessage">Mensaje</label>
						<textarea class="form-control" id="inputMessage" name="inputMessage" rows="5" required></textarea>
					</div>
					<!--<div class="g-recaptcha form-group-capcha" data-sitekey="6Le_6IMUAAAAAPBLp0yKTIp0psvQ7DHX4985u7Gg"></div>-->
					<div class="form-group-capcha" id="html_element"></div>
					<button id="buttonSendMail" type="submit" class="btn btn-primary btn-block"><i class="fa fa-paper-plane"></i> Enviar mensaje</button>
				</div>
			</div>
		</form>
		<script src="https://www.google.com/recaptcha/api.js"></script>
	</div>
	</div>
</body>
</html>