<html>
<head th:replace="fragments/index::head"></head>
<body>

<script>new WOW().init();</script>

<script>
$(document).ready(function() {
	
	$(window).on('resize', function (){
	  $wHeight = $(window).height();
	  $item.height($wHeight);
	});

	 $("#sidebar").mCustomScrollbar({
         theme: "minimal"
     });

     $('#dismiss').on('click', function () {
         $('#sidebar').removeClass('active');
     });

     $('#sidebarCollapse').on('click', function () {
         $('#sidebar').addClass('active');
         $('.collapse.in').toggleClass('in');
     });
	
});

</script>

<!-- COOKIES -->
<div class="alert alert-dismissible text-center cookiealert" role="alert">
    <div class="cookiealert-container">
        <b>Te gustan las cookies?</b> &#x1F36A; Usamos cookies para asegurar la mejor experiencia en nuestro website. <a href="http://cookiesandyou.com/" target="_blank">Saber más</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            Acepto
        </button>
    </div>
</div>
<!-- /COOKIES -->

<script th:src="@{/js/cookiealert-standalone.js}" src="../static/js/cookiealert-standalone.js"></script>

<div th:replace="fragments/index_old::menu_old"></div>
<div th:replace="fragments/index_old::botonMenu_old"></div>

<div class="overlay wow fadeInUp">  
  <h1>Bienvenido a Viajes Gala</h1>
  <h2>Aquí comienza el viaje de tus sueños</h2>
  <a class="btn btn-lg btn-primary text-white wow pulse" data-wow-iteration="infinite" data-wow-duration="1500ms">Empieza tu viaje</a>
</div>

<video autoplay muted loop id="myVideo">
  <source th:src="${'/viajesgala/videos/Beatiful_rocks_in_the_beach.mp4'}" src="../static/videos/Beatiful_rocks_in_the_beach.mp4" type="video/mp4">
</video>

</body>
</html>
