<html>
<head>
  <title>Viajes Gala</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css" />
  <script th:src="${'/viajesgala/webjars/jquery/3.3.1-1/jquery.min.js'}" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script th:src="${'/viajesgala/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js'}" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://cdne.ojo.pe/thumbs/uploads/articles/images/carlos-villagran-practica-el-s-jpg_700x0.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJRJXeE-Xj3kRMyx58FtzUSGZSTUwmu68D2cMKZoq8M_w3VD56Vw" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREZF_XHhtDluSO1AklnH7PC-3IisjkO5L53lzcEOoLnHZQtOWqjg" alt="Third slide">
      </div>
    </div>
  </div>
</div>

</body>
</html>
